.contact {
  &__card {
    border: 1px solid $white;
    border-radius: 15px;
    padding-bottom: 15px;
    &:hover {
      border: 1px solid $primary;
      transition: 0.8s ease-in-out;
    }
  }
  &__link {
    text-decoration: none;
    color: $primary;
    margin-bottom: 20px;
  }
  &__pretitle {
    color: $black;
  }
}

.icon {
  color: $primary;
  margin: 25px 0;
}
